# Definici贸n de la versi贸n de Colang. Se recomienda "2.x" para nuevas implementaciones.

models:
  - type: main
    engine: nim
    model: meta/llama-3.3-70b-instruct

  - type: embeddings
    engine: nim
    model: nvidia/nv-embedqa-e5-v5

  - type: content_safety
    engine: nim
    model: nvidia/llama-3.1-nemotron-safety-guard-8b-v3

  - type: topic_control
    engine: nim
    model: nvidia/llama-3.1-nemoguard-8b-topic-control

# Instructions for the LLM (similar to system prompts)
instructions:
  - type: general
    content: |
      You are a helpful AI assistant you always answer in spanish.  

rails:
  input:
    flows:
      # 1. Primero enmascaramos el c贸digo interno (Regla Regex)
      - mask internal code pattern
      # 2. Luego chequeamos si habla de Bee Movie (Regla de T贸pico)
      - check bee movie
      # 3. Chequeos base
      - self check input
      - jailbreak detection model
      - content safety check input $model=content_safety
      #- topic safety check input $model=topic_control
      - gliner mask pii on input
  output:
    flows:
      - self check output
      - content safety check output $model=content_safety
      - injection detection
      - gliner mask pii on output
  config:
    gliner:
      server_endpoint: http://localhost:1235/v1/extract
      threshold: 0.5
      input:
        entities:
          - email
          - phone_number
          - ssn
          - first_name
          - last_name
          - credit_debit_card
      output:
        entities:
          - email
          - phone_number
          - credit_debit_card
    injection_detection:
      nim_base_url: "https://ai.api.nvidia.com"
      nim_server_endpoint: "/v1/security/nvidia/nemoguard-jailbreak-detect"
      api_key_env_var: NVIDIA_API_KEY
      injections:
        - code
        - sqli
        - template
        - xss
      action:
        reject
    jailbreak_detection:
      nim_base_url: "https://ai.api.nvidia.com"
      nim_server_endpoint: "/v1/security/nvidia/nemoguard-jailbreak-detect"
      api_key_env_var: NVIDIA_API_KEY
# Tracing and monitoring
tracing:
  enabled: true
  adapters:
    - name: FileSystem
      filepath: "./logs/traces.jsonl"